@import '@/styles/variables.scss';

.container {
  max-width: 1200px;
  margin: 122px auto;
}

.contacts {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 15rem;

  h1 {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    /* Text/Black */
    color: #212121;

    @media #{$mobile} {
      font-size: 32px;
      line-height: 33px;
    }

    &::before {
      content: '聯繫人';
      position: absolute;
      width: 512px;
      height: 154px;
      left: calc(50% - 512px/2);
      top: -50px;
      font-style: normal;
      font-weight: 700;
      font-size: 128px;
      line-height: 120%;
      /* identical to box height, or 154px */
      text-align: center;
      text-transform: uppercase;
      /* Accent/Phosphor */
      color: #D4FF6C;
      z-index: -2;

      @media #{$mobile} {
        height: 77px;
        left: calc(50% - 250px);
        top: -50px;
        font-size: 64px;
      }
    }
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    /* Text/Soft black */
    color: rgba(33, 33, 33, 0.5);
    margin-bottom: 1rem;
    @media #{$mobile} {
      width: 95vw;
    }
  }

}

.fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  gap: 16px;
  background: #F5F5F5;
  border-radius: 40px;
  height: 160px;
  width: 800px;

  @media #{$mobile} {
    height: 102px;
    border-radius: 20px;
    max-width: 93vw;
    gap: 8px;
    padding: 14px;
    padding-top: 10px;
  }
}

.field {
  margin: 0 auto;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: rgba(33, 33, 33, 0.5);

  @media #{$mobile} {
    font-size: 14px;
  }
}

.value {
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  /* Accent/Orange */
  color: #FF7A40;
  @media #{$mobile} {
    font-size: 14px;
  }
}

.prompt {
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  /* Text/Black */
  color: #212121;
  @media #{$mobile} {
    font-size: 14px;
    margin-top: -5px;
  }
}