$orange-accent: #FF7A40;
$orange-secondary: #FF631F;
$orange-focus: #E1591D;

$grey-light: #F5F5F5;
$grey-secondary: #E5E5E5;

$phosphor-accent: #D4FF6C;
$phosphor-focus: #BFF837;

$white: #fff;

$text-black: #212121;
$text-soft-black: rgba(33, 33, 33, 0.5);

$text-grey: rgba(255, 255, 255, 0.7);

$mobile: 'only screen and (max-width: 340px)';