@import '@/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
  gap: 32px;
  isolation: isolate;
  width: 592px;
  /* Light Gray */
  background: #F5F5F5;
  border-radius: 40px;
  position: relative;

  @media #{$mobile} {
    min-width: 90vw;
    max-width: 90vw;
  }

  &::before {
    white-space: nowrap;
    position: absolute;
    width: 256px;
    height: 154px;
    right: 0px;
    top: 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 120%;
    text-align: right;
    text-transform: uppercase;
    /* Text/White */
    color: #FFFFFF;

    @media #{$mobile} {
      display: none;
    }
  }

  &:nth-of-type(1) {
    &::before {
      content: '有限公司';
    }
  }

  &:nth-of-type(2) {
    &::before {
      content: '移动的';
    }
  }

  &:nth-of-type(3) {
    &::before {
      content: '构架';
    }
  }

  &:nth-of-type(4) {
    &::before {
      content: '网络';
    }
  }

  &:nth-of-type(5) {
    &::before {
      content: '数据库管理';
    }
  }
}

.title {
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  transform: none;
  font-style: normal;
  font-weight: 700;
  text-align: start;
  font-size: 32px;
  line-height: 38px;
  /* Text/Black */
  color: #212121;

  @media #{$mobile} {
    font-size: 24px;
  }
}

.listContainer {
  max-width: 425px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

}

.listItem {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Black */
  color: #1A1923;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;
  background: #FFFFFF;
  border-radius: 20px;

  @media #{$mobile} {
    padding: 16px;
    font-size: 14px;
  }
}