.whyChooseContainer {
  position: relative;
  max-width: 1200px;

  &::before {
    position: absolute;
    content: '软件开发';
    left: calc(50% - 512px/2);
    top: -50px;
    // font-family: 'Syncopate';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    /* Accent/Phosphor */
    color: #D4FF6C;
    z-index: -2;
    margin: 2rem 0;
  }

  h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    /* Black */
    color: #1A1923;
  }

  p {
    // font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    /* Black */
    color: #1A1923;
    span {
      color: #212121;
      opacity: 0.5;
    }
  }
}