.btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  background: #FFFFFF;
  border-radius: 20px;
  position: absolute;
  width: 56px;
  height: 56px;
  top: 265px;
  right: 333px;
}